* {
font-family: Arial;
}

body {
  margin: 0;
  padding: 0;
}

.upper-bar {
  background-color: lightgray;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  text-align: right;
}

.gregs-list {
  display: inline-block;
  position: absolute;
  left: 15px;
  padding-top: 12px;
  font-size: 20px;
  font-weight: bold;
}

.nav-ul {
  display: inline-block;
}

.nav-li {
  display: inline-block;
  margin-top: -5px;
  margin-right: 20px;
  font-family: Arial;
  font-size: 20px;
}

.navi-txt {
  text-decoration: none;
}

main {
  margin-top: 70px;
  margin-left: 100px;
}

#search-field {
  border: 1px lightgray solid;
  border-radius: 3px;
  display: inline-block;
  width: 450px;
  height: 25px;
  margin-top: 10px;
}

#search-button {
  border: 1px lightgray solid;
  border-radius: 3px;
  display: inline-block;
  vertical-align: bottom;
  height: 27px;
  width: 27px;
}

.navi-block {
  border: 1px lightgray solid;
  border-radius: 3px;
  margin-top: 15px;
  width: 360px;
}

.navi-block ul {
  padding-left: 0px;
}
.navi-block ul li {
  list-style-type: none;
  display: inline-block;
}

.arrow {
  display: inline-block;
  font-size: 18px;
  color: black;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  text-decoration: none;
}

.arrow-txt {
  display: inline-block;
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
  border-left: 1px lightgray solid;
  border-right: 1px lightgray solid;
}

.search-list {
  padding-left: 0;
}

.search-item {
  list-style: none;
  height: 30px;
}

.item-date {
  display: inline-block;
  color: gray;
  padding-right: 20px;
}

.item-ref {
  display:inline-block;
  padding-right: 20px;
  text-decoration: none;
}

.item-location {
  display:inline-block;
  color: gray;
}
